<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
        <p>Convertible converts all your audio, video, and photos seamlessly. Convertible can convert nearly any media file type. It supports converting in blazingly fast speed between many audio, video, and image filetypes, including GIF, MKV, AVI, JPEG, PNG, MP3, WAV, FLV, and many more. All these converters are packaged into a neat, tidy, and intuitive interface that make Convertible a pleasure to use. Convertible also automatically detects your input file types and shows the progress of each conversion job.</p>
        <ul>
            <li>Convert music: MP3, AC3, FLAC, ALAC, AAC, OGG, WAV, WMA, WEBM, AIFF, APE</li>
            <li>Convert video: MKV, WMV, MPEG, AVI, GIF, FLV</li>
            <li>Convert photos: JPEG, PNG, TIFF, WEBP, JNG, JPG</li>
            <li>See your conversion progress in real-time!</li>
            <li>Super fast performance</li>
            <li>Intelligently select your output folder and view your files</li>
        </ul>
    <img src="{{ site.baseurl }}/images/screenshot1.png" />
    <img src="{{ site.baseurl }}/images/screenshot2.png" />

    {% include page-footer.html %}
</section>

  </body>
</html>
