<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
        <p>
            Soundness improves your productivity and creativity by playing ambient sounds like those found in a coffeeshop or library. Research shows that a moderate level of ambient noise enhances creativity, while low levels boost productivity and information processing. Soundness is a neat little app that lives in your menubar that lets you toggle ambient sounds from places like coffeeshops, libraries, and parks.
        </p>
        <img src="{{ site.baseurl }}/images/screenshot.png" />

      {% include page-footer.html %}
    </section>

  </body>
</html>
